.text-white{color: #fff;}
.bg-white{background-color: #fff;}

.text-black{color: #000;}
.bg-black{background-color: #000;} 

.text-blue{color: dodgerblue;}
.bg-blue{background-color: dodgerblue;}

.candidate_photo{
    width: 80px;
    height: 80px;
    border: 2px solid dodgerblue;
    border-radius: 100%;
}
